body {
  background-color: #EFD5E7;
}

main {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

h2 {
  text-align: center;
  /* display: inline; */
}

form {
  /* display: inline-block; */
  text-align: center;
  margin-bottom: 50px;
}

button {
  padding: 15px 15px;
  color: white;
  background-color:#db3850;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.header-flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

#robot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.robot-head {
  height: 12%;
  width: 12%;
  display: block;
  margin: 0 auto;
}

.robot-left-arm {
  margin-right: -10px;
  height: 8%;
  width: 8%;
  /* z-index: 1; */
}

.robot-right-arm {
  margin-left: -10px;
  height: 8%;
  width: 8%;
}

.robot-feet {
  height: 18%;
  width: 18%;
  display: block;
  margin: 0 auto;
}

.twitter-icon {
  height: 50px;
  width: auto;
  padding: 10px 10px;
}

.logo {
  height: 115px; 
  width: auto;
  padding: 15px 15px;
} 

.hidden {
  display: none;
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 275px;
  font-size: 20px;
  padding: 20px 40px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Amatic SC', cursive;
  background-color: #eee;
  font-size: 35px;
  /* border: 1px solid #eee; */
  /* z-index: -1; */
  /* margin-top: 20px; */
}